@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #2d4ecf;
  --grey: #939393;
  --lightgrey: #F3F4F6;
}

html,
body {
  font-family: "Poppins",Arial,sans-serif;
  background: var(--lightgrey);
}

.left-container {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* NavBar Section */
.navbar {
    height: 10vh;
    background: var(--blue);
}

.logo h2 {
    padding: 1rem;
    color: white;
    margin: 0 0 0rem 1rem;
    font-weight: 600;
}

.logo h2 sub {
    font-size: 0.6rem;
    padding: 0 0 3rem 0;
    font-weight: 700;
}

.utilities {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

.icon {
  font-size: 1rem;
  margin: 0rem 0.3rem 0 0.3rem;
  color: white;
}

.text {
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn{
    margin: 2rem;
}

.btn button{
    padding: .3rem 1.4rem;
    background: transparent;
    border: .5px solid var(--grey);
    border-radius: 5px;
    color :white;
    cursor: pointer;
    transition: all .3s ease-out;
}

.btn button:hover{
    border: .5px solid white;
}

/* Main container */

.container{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.upper-text{
    /* text-align: center; */
    margin: 1rem 0;
    font-weight: 600;
}

.first-container{
    width: calc(100% - 50px);
    max-width: 350px;
    background: white;
    padding: 2rem 4rem;
    border-radius: 8px;
    margin-top: 10rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.first-container p{
  color: #2e2e2e;
  font-weight: 500;
  font-size: 1rem;
  text-align: justify;
  word-spacing: .10em; 
  text-align-last: center;
}

.keycode_{
    font-size: 180px;
    text-align: center;
    font-weight: 600;
}

.desc{
    text-align: center;
}

.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    background: #fff;
    border-radius: 7px;
    margin: .8rem .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align:center;
}

.card .heading {
    background:var(--blue);
    color:white;
    padding: 8px 12px;
    text-align: center;
}

.heading h3{
   font-size: 1.1rem;
}

.content{
    padding: 25px 50px;
    font-size: 1.3rem;
    font-weight: 700;
}

.hide{
    display: none;
    visibility: hidden;
}

/* Responsive */
@media (max-width:760px){
    .utilities, .icon, .text{
        font-size: .7rem;

    }
}